:root {
    --color-primary: #1463F3;
    --color-secondary: #eceff1;
    --color-accent: #aaaaaa;

    --color-white: #CCD0D8;
    --color-body: #808080;
    --color-on-surface: #000;
    --color-black: #22232E;
    --color-gray: #f7f7f7;
    --color-red: #ff3A3A;
    --color-yellow: #FFC225;
    --color-green: #30BF19;
    --color-bluish-green: #008673; 


    --rounding-sm: .4rem;
    --rounding-md: .6rem;
    --rounding: .8rem;
    --rounding-xl: 1rem;
    --stroke: 1px solid #CECECE;

    --spacing: 24px;
}