.login-container{
    padding: 4rem 12rem 0rem 12rem;

    @media (max-width: 768px){
        padding: 4rem 4rem 0rem 4rem;
    }
}

.login__grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 1200px){
        grid-template-columns: 1fr;
    }
}

.login__box {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid var(--color-accent);
    gap: 1rem;
    padding: 2rem;

    &-fill {
        grid-row: span 2;
        @media (max-width: 1200px){
            display:none;
        }
    }
}

.login__header {
    font-size: 1.6rem;
    font-weight: 700;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
