.see_content {

  &.contact_details_button {
    appearance: none;
    background-color: transparent;
    border: none;
    font-weight: 400;
  }

}

.contact_details {
  font-family: Arial, serif;
  color: black;
  padding-left: 2px;
  padding-top: 5px;
  font-weight: 200;
}
